---
import Footer from "../components/Footer.astro";
import Links from "../components/Links.astro";
import Profile from "../components/Profile.astro";
import Socials from "../components/Socials.astro";
import ThemeToggle from "../components/ThemeToggle.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="ssanjua link tree">
	<div class="bg-light dark:bg-dark">
		<div class="flex flex-col max-w-lg mx-auto">
			<div class="m-5">
				<ThemeToggle />
				<Profile />
				<Links />
				<Socials />
				<Footer />
			</div>
		</div>
	</div>
</Layout>
